{
  "mysql": {
    "password": "PASSWORD",
    "host": "HOST",
    "user": "USER",
    "database": "DATABASE",
    "port": "PORT"
    "socketpath": "SOCKETPATH"
  },
  "pusher": {
    "key": "PUSHER_KEY",
    "cluster": "CLUSTER",
    "app_id": "APP_ID",
    "secret": "SECRET"
  },
  "wca": {
    "base_url": "https://staging.worldcubeassociation.org/",
    "client_secret": "example-secret",
    "client_id": "example-application-id",
    "redirect_uri": "http://localhost:3000/wca-redirect"
  }
}